version: '3.8'

services:
  postgres:
    image: postgres:15.5
    container_name: postgres
    environment:
      POSTGRES_DB: cloud
      POSTGRES_USER: daniel
      POSTGRES_PASSWORD: daniel
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address :9001
    volumes:
      - minio_data:/var/lib/minio/data
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/var/lib/redis/data


volumes:
  postgres_data:
  redis_data:
    driver: local
  minio_data:
    driver: local
