version: '3.8'

services:
  postgres:
    image: postgres:15.5
    environment:
      POSTGRES_DB: cloud
      POSTGRES_USER: daniel
      POSTGRES_PASSWORD: daniel
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


volumes:
  postgres_data:
